.custom-assign-upload {
  border: 8px solid #9658fe;
  display: inline-block;
  padding: 3px 0px;
  cursor: pointer;
  margin: auto;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 8px;
  color: #9658fe;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: hsl(210, 36%, 96%);
}

.custom-assign-upload p {
  margin-top: 6px;
  margin-right: 20px;
  color: #9658fe;
}

form .ques-container label {
  display: inline-block;
  width:4.6em;
  margin-right: 1em;
  text-align: left;
}

form .ques-container input {
  margin-top: 2em;
  width: 60%;
  margin-right: 0;
}

.assign-heading {
  font-weight: 400;
  color: #7b7b94;
}

.mySubmissionHeader {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.mySubmissionHeader p {
  font-size: 1.3em;
  color: #9658fe;
}

.assign-comment {
  height: 2em;
  width: 75%;
  background-color: #fff;
}

.std-up-file {
  padding: 1em;
  padding-bottom: 1em;
  background-color: #fff;
  border: solid 0.8px rgba(153, 153, 153, 0.459);
  border-radius: 4px;
  display: flex;
  width: 85%;
  margin:auto;
  margin-bottom: 1em;
}

.profPic img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  float: left;
  margin-right: 1em;
}

.std-up-file i {
  margin-right: 1em;
}

.submittedStdFile {
  display: flex;
  justify-content: space-between;
  width: 90%;
  transform: translateY(10px);
  margin-left: 1em;
}